[build]
  command = "hugo --gc --minify -b $URL"
  publish = "public"
  NODE_VERSION = "20"

[build.environment]
  HUGO_VERSION = "0.125.7"
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[[plugins]]
  package = "netlify-plugin-hugo-cache-resources"
  [plugins.inputs]
    debug = true

[[redirects]]
  from = "/urbanai"
  to = "https://xfliang.notion.site/Urban-AI-Pedagogy-Workshop-Series-d327e035fbf34ad1a74efd9b26ee7cc0"
  status = 301
  force = true # COMMENT: ensure that we always redirect

[[redirects]]
  from = "/f25urp506"
  to = "https://xfliang.notion.site/F25-URP-506-Planning-Methods-250c9e21f8d3804083d5ceadc30cb64f"
  status = 301
  force = true # COMMENT: ensure that we always redirect

[[redirects]]
  from = "/f25urp538"
  to = "https://xfliang.notion.site/F25-Urban-Networks-URP-538-UT-438-22dc9e21f8d380df9f1df097cbcd3d47"
  status = 301
  force = true # COMMENT: ensure that we always redirect

[[redirects]]
  from = "/w26urp535"
  to = "https://xfliang.notion.site/W26-Introduction-to-Urban-Informatics-230c9e21f8d3809b8657c9cc613bae4c?source=copy_link"
  status = 301
  force = true # COMMENT: ensure that we always redirect

  [[redirects]]
  from = "/w26urp530"
  to = "https://xfliang.notion.site/W26-Urban-AI-22bc9e21f8d38013957ad41734b926e5?source=copy_link"
  status = 301
  force = true # COMMENT: ensure that we always redirect
